@import url("./variables.css");

body {
  color: var(--black-100);
  display: grid;
  grid-template-rows: 80px 60px auto auto;
  grid-template-areas: "header" "breadcrumb" "main" "footer";
  /* padding: 0 42px 50px 42px; */
}

header {
  grid-area: header;
}

nav[aria-label="breadcrumb"] {
  grid-area: breadcrumb;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Hamburger Animation*/

.box__inner:after,
.box__inner:before {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0;
  width: var(--hamburger-width);
  height: 2px;
  border-radius: var(--small-border-radius);
  background-color: var(--gray-100);
}

.box__inner--side-nav-open {
  transition-delay: 0.12s;
  transform: rotate(225deg);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.box__inner--side-nav-open:before {
  width: 100%;
  top: 0;
  opacity: 0;
  transition: var(--ham-before-active);
}

.box__inner--side-nav-open:after {
  width: 100%;
  bottom: 0;
  transform: rotate(-90deg);
  transition: var(--ham-after-active);
}

.box__inner--side-nav-closed {
  transition-delay: 0s;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.box__inner--side-nav-closed:before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: var(--ham-before);
}

.box__inner--side-nav-closed:after {
  width: 80%;
  bottom: -10px;
  transform: 0;
  transition: var(--ham-after);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

/* SideNav */

.sideNav-enter {
  transform: translateX(100%);
}

.sideNav-enter-active {
  transform: translateX(0);
  transition: transform 0.3s var(--easing);
}

.sideNav-exit {
  transform: translateX(0);
}

.sideNav-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s var(--easing);
}

.main-banner-fSize-HomeP {
  font-size: var(--font-big-banner);
  line-height: var(--leading-big-banner);
}

.postCard-heading,
.postCard-footnotes {
  font-size: calc(10px + 1vw);
}

@media (min-width: 450px) {
  .postCard-heading {
    font-size: calc(12px + 2vw);
  }
}

@media (min-width: 640px) {
  .main-banner-fSize-HomeP {
    font-size: var(--font-small-banner);
    line-height: var(--font-small-banner);
  }

  .postCard-heading,
  .postCard-footnotes {
    font-size: calc(10px + 1vw);
  }
}

@media (min-width: 768px) {
  .postCard-heading {
    font-size: calc(12px + 1vw);
  }
}

@media (min-width: 1024px) {
  .main-banner-fSize-HomeP {
    font-size: var(--font--medium-banner);
    line-height: var(--font--medium-banner);
  }

  .postCard-heading,
  .postCard-footnotes {
    font-size: calc(10px + 1vw);
  }

  .postCard-footnotes {
    font-size: 18px;
  }
}
