@import url("./variables.css");

html {
  scroll-behavior: smooth;
}

*:focus-visible {
  outline: 2px dashed var(--magenta-100);
}

body {
  box-sizing: border-box;
  color: var(--black-100);
  display: grid;
  grid-template-rows: 80px 100px auto auto;
  grid-template-areas: "header" "breadcrumb" "main" "footer";
}

header {
  grid-area: header;
}

nav[aria-label="breadcrumb"] {
  grid-area: breadcrumb;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Hamburger Animation*/

.box__inner:after,
.box__inner:before {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0;
  width: var(--hamburger-width);
  height: 2px;
  border-radius: var(--small-border-radius);
  background-color: var(--gray-100);
}

.box__inner--side-nav-open {
  transition-delay: 0.12s;
  transform: rotate(225deg);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.box__inner--side-nav-open:before {
  width: 100%;
  top: 0;
  opacity: 0;
  transition: var(--ham-before-active);
}

.box__inner--side-nav-open:after {
  width: 100%;
  bottom: 0;
  transform: rotate(-90deg);
  transition: var(--ham-after-active);
}

.box__inner--side-nav-closed {
  transition-delay: 0s;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.box__inner--side-nav-closed:before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: var(--ham-before);
}

.box__inner--side-nav-closed:after {
  width: 80%;
  bottom: -10px;
  transform: 0;
  transition: var(--ham-after);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

/* SideNav */

.sideNav-enter {
  transform: translateX(100%);
}

.sideNav-enter-active {
  transform: translateX(0);
  transition: transform 0.3s var(--easing);
}

.sideNav-exit {
  transform: translateX(0);
}

.sideNav-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s var(--easing);
}

.postCard-heading,
.postCard-footnotes {
  font-size: calc(10px + 1vw);
}

.breadcrumb-wrapper {
  width: calc(100% - 50px);
}

.heading-post-banner {
  font-size: calc(1.1rem + 1.5vw);
  line-height: 1.2;
}

/* .menuTrigger .collapsibleMenu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px) scale(0.9);
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: absolute;
  z-index: 50;
}

.menuTrigger:hover .collapsibleMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

.menuTrigger:hover .chevron--down,
.menuTrigger:active .chevron--down {
  transform: rotate(180deg);
} */

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--black-100) inset !important;
  -webkit-text-fill-color: var(--white-100) !important;
  font-weight: 500 !important;
  font-family: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 0.9;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.fade-exit {
  opacity: 0.9;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (min-width: 450px) {
  .postCard-heading {
    font-size: calc(12px + 2vw);
  }

  .breadcrumb__post-page {
    max-width: 35vw;
  }
}

@media (min-width: 640px) {
  .postCard-heading,
  .postCard-footnotes {
    font-size: calc(10px + 1vw);
  }

  .breadcrumb__post-page {
    max-width: 50vw;
  }
}

@media (min-width: 768px) {
  .postCard-heading {
    font-size: calc(12px + 1vw);
  }

  .breadcrumb-wrapper {
    width: calc(100% - 84px);
  }

  .breadcrumb__post-page {
    max-width: 55vw;
  }
}

@media (min-width: 1024px) {
  .postCard-heading,
  .postCard-footnotes {
    font-size: calc(10px + 1vw);
  }

  .postCard-footnotes {
    font-size: 18px;
  }

  .breadcrumb__post-page {
    max-width: 80vw;
  }
}

button[data-slot="navigation-menu-trigger"] > svg.lucide-chevron-down {
  width: 24px;
  height: 17.4px;
  margin: 2px 0px 0px 0px;
  color: var(--gray-100);
}
