@import "tailwindcss";

:root {
  /* colors */
  --black-100: #171a1a;
  --gray-100: #706f6f;
  --white-100: rgba(255, 255, 255, 0.8);

  /* sizing */
  --primary-border-radius: 30px;

  /* fonts */
  --font-size-banner: calc(30px + 1vw);
  --font-size-heading: calc(24px + 1vmax);
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--font-montserrat), sans-serif;
  color: var(--black-100);
  display: grid;
  grid-template-rows: 120px auto 363px;
  grid-template-areas: "header" "main" "footer";
  padding: 0 42px 50px 42px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
