@import "tailwindcss";

:root {
  --black-100: #171a1a;
  --gray-100: #706f6f;
  --white-100: rgba(255, 255, 255, 0.8);
}

@theme inline {
  --black-100: var(--black-100);
  --gray-100: var(--gray-100);
  --white-100: var(--white-100);
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
  /* --font-montserrat: (var(--font-montserrat)); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--font-montserrat), sans-serif;
  color: var(--black-100);
  display: grid;
  grid-template-rows: 120px auto 363px;
  grid-template-areas: "header" "main" "footer";
  padding: 0 42px 50px 42px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
